@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght&display=swap');

html{
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

.reddit-sans-text{
  font-family: "Reddit Sans Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet{
  background-color: #5b5bc4;
}
