---

---

<aside class='bg-grey text-black p-6'>
  <div class='max-w-screen-2xl mx-auto'>
    <div class='md:grid md:grid-cols-2'>
      <h2 class='text-4xl font-bold'>Hagamos <br /> un cambio</h2>
      <p class='w-56 leading-5 text-sm pt-2'>
        Complete el siguiente formulario y nos comunicaremos con usted a la
        brevedad.
      </p>
    </div>
      <div class='xl:grid grid-cols-2'>
        <div class='relative my-10'>
          <input
            id='username'
            name='username'
            type='text'
            placeholder=''
            class='border-b bg-grey py-1 focus:border-blue-700 transition-colors focus:outline-none peer w-full'
          />
          <label for='username' class='absolute left-0 -bottom-7'>
            nombre
          </label>
        </div>
        <div class='relative my-10'>
          <input
            id='email'
            name='email'
            type='email'
            placeholder=''
            class='border-b bg-grey py-1 focus:border-blue-700 transition-colors focus:outline-none peer w-full'
          />
          <label for='email' class='absolute left-0 -bottom-7'>email</label>
        </div>
      </div>
      <div class='xl:grid grid-cols-2'>
        <div class='relative my-10 xl:pt-4'>
          <input
            id='telefono'
            name='telefono'
            type='number'
            placeholder=''
            class='border-b bg-grey py-1 focus:border-blue-700 transition-colors focus:outline-none peer w-full'
          />
          <label for='telefono' class='absolute left-0 -bottom-7'>
            telefono
          </label>
        </div>
        <div class='relative my-10'>
          <textarea
          id='mensaje'
          name='mensaje'
          placeholder=''
          class='border-b bg-grey focus:border-blue-700 transition-colors focus:outline-none peer w-full resize-none'
      ></textarea>
          <label for='mensaje' class='absolute left-0 -bottom-6'>
            mensaje
          </label>
        </div>
      </div>
      <div class='flex justify-start xl:justify-end items-center mt-10 group hover:cursor-pointer'>
        <button
          type='submit'
          class='bg-backBlack text-grey py-2 px-8 rounded-3xl group-hover:rounded-r-none  transition-all duration-1000'
        >
          Enviar
        </button>
        <div class='h-full '>
          <div
            class='bg-backBlack flex justify-center items-center rounded-full group-hover:rounded-l-none p-3 transition-all duration-1000'
          >
            <img src='/public/svg/rightArrow-07.svg' alt='' class='h-4 w-4' />
          </div>
        </div>
      </div>
    </div>
</aside>
