---
---

<section class=" w-full  bg-backBlack px-6 text-grey ">
   <div class="relative max-w-screen-md mx-auto ">
     <div class="flex items-center justify-center text-center py-36">
         <div class="relative z-10 flex flex-col items-center">
             <h2 class="text-4xl xs:text-6xl mid:text-7xl lx:text-8xl mb-4">Years of <br />experience</h2>
             <p class="block max-w-[400px] xs:text-xs mid:text-sm lx:text-base">Buscamos lograr resultados funcionales y personalizados, específicamente diseñados para cada paciente. Cada persona es única.</p>
         </div>
     </div>
     <img src="/img/clinic-cell.jpg" alt="" class="h-24 absolute top-0 right-10">
     <img src="/img/clinic2-cell.jpg" alt="" class="h-24 absolute top-14 ">
     <img src="/img/clinic3-cell.jpg" alt="" class="h-24 absolute bottom-12 right-12">
     <img src="/img/clinic4-cell.jpg" alt="" class="h-24 absolute -bottom-6 ">
   </div>
</section>