---
---

<section class=" w-full relative bg-backBlack px-6 text-grey ">
    <div class="flex items-center justify-center text-center py-36">
        <div class="relative z-10">
            <h2 class="text-7xl mb-4">Years of <br />experience</h2>
            <p class="block w-[350px] text-sm">Buscamos lograr resultados funcionales y personalizados, específicamente diseñados para cada paciente. Cada persona es única.</p>
        </div>
    </div>
    <img src="/img/clinic-cell.jpg" alt="" class="h-24 absolute top-0 right-10">
    <img src="/img/clinic2-cell.jpg" alt="" class="h-24 absolute top-14 ">
    <img src="/img/clinic3-cell.jpg" alt="" class="h-24 absolute bottom-12 right-12">
    <img src="/img/clinic4-cell.jpg" alt="" class="h-24 absolute -bottom-6 ">
</section>