<section class="relative overflow-hidden">
  <iframe   
    src="https://www.youtube.com/embed/KULGrLXNu3E?autoplay=1&mute=1&playsinline=1&rel=0&enablejsapi=1"   
    title="YouTube video player"   
    frameborder="0"   
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen 
    loading="lazy" 
    class="video-player"> 
  </iframe>
</section>

<style>
  .video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    min-width: 100vh;
    min-height: 120vw;
    object-fit: cover;
  }

  /* Media query para pantallas mayores a 768px */
  @media (width > 768px) {
    .video-player {
      transform: translate(-50%, -50%); /* Elimina la rotación */
      min-width: 100vw;
      min-height: 100vh;
    }
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vw;
  }

  /* Ajuste para la altura de la sección en pantallas grandes */
  @media (width >768px) {
    section {
      min-height: 100vh;
    }
  }
</style>

<script>
  declare var YT: any;
  document.addEventListener('DOMContentLoaded', ()=> {
    const iframe = document.querySelector('.video-player');
    
    const loadYouTubeAPI = () => {
      const tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      const firstScriptTag = document.getElementsByTagName('script')[0];
      if (firstScriptTag.parentNode) {
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }
    };

    (window as any).onYouTubeIframeAPIReady = () => {
      new YT.Player(iframe, {
        events: {
          'onReady': (event: YT.PlayerEvent) => {
            event.target.playVideo();
            event.target.mute(); // Mantiene el mute inicial para autoplay
          },
          'onStateChange': (event: YT.OnStateChangeEvent) => {
            if (event.data === YT.PlayerState.ENDED) {
              event.target.playVideo();
            }
          }
        }
      });
    };

    loadYouTubeAPI();
  });
</script>