<section class=" relative overflow-hidden">
    <iframe  
      src="https://www.youtube.com/embed/KULGrLXNu3E?autoplay=1&mute=1&playsinline=1&controls=0&rel=0&enablejsapi=1"  
      title="YouTube video player"  
      frameborder="0"  
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
      class="rotate-video">
    </iframe>
</section>

<style>
  .rotate-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    min-width: 100vh;
    min-height: 120vw;
    object-fit: cover;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vw;
  }
</style>

<script>
    declare var YT: any;
    document.addEventListener('DOMContentLoaded', function() {
    const iframe = document.querySelector('.rotate-video');
    
    // Función para cargar la API de YouTube
    const loadYouTubeAPI = () => {
      const tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      const firstScriptTag = document.getElementsByTagName('script')[0];
      if (firstScriptTag.parentNode) {
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }
    };

    // Inicializar el reproductor cuando la API esté lista
    (window as any).onYouTubeIframeAPIReady = () => {
      new YT.Player(iframe, {
        events: {
          'onReady': (event: YT.PlayerEvent) => {
            event.target.playVideo();
            event.target.mute(); // Asegurarse de que esté muteado para autoplay
          },
          'onStateChange': (event: YT.OnStateChangeEvent) => {
            if (event.data === YT.PlayerState.ENDED) {
              event.target.playVideo(); // Reproducir de nuevo cuando termine
            }
          }
        }
      });
    };

    loadYouTubeAPI();
  });
</script>