---
---
<section class="min-h-screen w-full relative bg-backBlack px-6 py-36 text-grey">
    <div class="border-b-[.5px] border-grey pb-32">
        <div>
            <span class="text-sm">BIOGRAPHY</span>
            <h2 class="text-2xl ml-4">Adrés Ananía</h2>
        </div>
        <p class="ml-4 mt-8 leading-7">Soy Andrés Ananía, médico traumatólogo, subespecializado en las afecciones de la cadera y la rodilla. Mi formación incluye un AVP Fellowship en el Hospital for Special Surgery en Nueva York, un MBA en el IAE Business School, y programas ejecutivos en Harvard Business School y Stanford sobre transformación digital e inteligencia artificial aplicados a la salud. Con una sólida trayectoria en el campo de la innovación médica y experiencia en la adopción de nuevas tecnologías, mi objetivo es brindarte una atención de excelencia que combine vanguardia y cuidado personalizado para ayudarte a recuperar tu movilidad y calidad de vida."</p>
    </div>
    <div class="pt-6 text-purple">
        <div>
            <h2 class="text-2xl ">The Perfect<br />Surgery</h2>
        </div>
        <p class="ml-4 mt-8 leading-7">Introducing the Smart Joint: a revolution in joint replacement. With Stryker Mako Smart Robotics technology, each knee and hip replacement is precisely tailored to the individual needs of each patient, ensuring maximum range of motion and safety. By leveraging Data Analytics and advanced robotics, through Smart Joint we restore natural movement  minimizing complications, setting a new standard for life-changing results. This is the future of joint replacement—personalized, precise, and perfected.</p>
    </div>
</section>