---

---

<header class='fixed top-0 p-2 z-20 w-full bg-'>
  <div class='flex justify-between items-center'>
    <a href='#' class="bg-violet text-grey px-4 py-1 rounded-full"> LET´S TALK </a>

    <img src='/svg/logo.svg' alt='Logo de Motion clinic' class='h-8' />

    <div class="hambur">
        <img src="/svg/hambur.svg" alt="Menu hamburgesa" class="scale-75" />
    </div>
  </div>
</header>
