---

---

<section class=" bg-backBlack text-grey flex items-center px-6 py-36">
  <div class="flex flex-col items-center">
    <p class="text-center">
      Nuestro objetivo es ayudarte a
      <span class="text-purple">
        recuperar tu calidad de vida
      </span>
      , estamos acá para que sigas haciendo lo que más te gusta y sigas intentando superarte. 
      Con años de experiencia y las técnicas más avanzadas, nos aseguramos que tu cirugía sea 
      un éxito y tu recuperación sea lo más rápida posible.
    </p>
    <span class="text-6xl text-purple mt-8">#DvtAgain</span>
  </div>
</section>