---
---
<section class="min-h-screen w-full relative back px-6 text-grey">
	<div class="absolute bottom-[20%]">
		<h1 class="text-8xl">The <br />perfect<br />surgery</h1>
		<p class="mt-2 text-xl">A Masterpiece of Modern Medicine</p>
	</div>
</section>

<style>
	.back{
		background: url('/img/back-Cell.jpg') no-repeat center center;
		background-size: cover;
	}
</style>