---
---
<section class="back ">
	<div class="min-h-screen max-w-screen-2xl mx-auto w-full relative  px-6 text-grey">
		<div class="absolute bottom-[20%] md:bottom-[4%]">
			<h1 class="text-7xl mid:text-8xl lg:text-9xl">The <br />perfect<br />surgery</h1>
			<p class="mt-2 text-sm mid:text-lg lg:text-[1.6rem]">A Masterpiece of Modern Medicine</p>
		</div>
	</div>
</section>

<style>
	.back{
		background: url('/img/back-cell.jpg') no-repeat center center;
		background-size: cover;
	}
	@media( width > 768px){
		.back{
			background: url('/img/back-pc.jpg') no-repeat center center;
		}
	}
</style>