---
---
<section class="min-h-screen w-full relative back px-6 text-black flex items-center justify-center">
    <div class="flex items-center justify-center gap-2">
        <span class="text-3xl">Who is</span>
        <img src="/img/Andres.jpg" alt="Doctor Andres" class="h-56">
        <span class="text-3xl">Andrés</span>
    </div>
</section>