---
---
<section class="bg-[#cccccc] w-full relative p-6 text-black">
    <h2 class="pb-4">
        <span class="text-xl">Motion Clinic</span> <br/>
        <span class="text-6xl font-medium">Studio</span>
    </h2>
    <img src="/img/myClinic.jpg" alt="">
    <div class="flex items-center gap-4 pt-4">
        <img src="/img/locationIcon.svg" class="w-8" alt="">
        <p class="block font-medium w-64 leading-5">Av. Presidente Figueroa Alcorta 3032. Palermo, Buenos Aires City, Argentina.</p>
    </div>
</section>