---
import ClinicTestify from "./ClinicTestify.astro";
import SlideTestify from "./SlideTestify.tsx";

---
<div class="bg-[#cccccc]">
    <!-- <div class="max-w-screen-2xl mx-auto"> -->
        <section class="xl:grid grid-cols-2">
            <ClinicTestify />
            <SlideTestify client:only />
        </section>
    </div>
</div>