---
import ClinicTestify from "./ClinicTestify.astro";
import SlideTestify from "./SlideTestify.tsx";

---
<div class="bg-[#cccccc]">
    <section class="xl:grid grid-cols-2">
        <ClinicTestify />
        <SlideTestify client:only />
    </section>
    </div>
</div>