---
import ClinicTestify from "./ClinicTestify.tsx";
import SlideTestify from "./SlideTestify.tsx";
---
<div class="bg-[#cccccc]">
    <section class="xl:grid grid-cols-2">
        <ClinicTestify client:only />
        <SlideTestify client:only />
    </section>
</div>