<section class="bg-backBlack p-4">
    <!-- <div class="max-w-screen-2xl mx-auto">
        <h2 class="text-3xl mb-32 text-grey">Testimonios</h2>
    </div> -->
  <div class="flex flex-col md:flex-row justify-center items-center gap-y-4">
      <iframe 
          src="https://www.youtube.com/embed/K6vE9LR8teM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="w-full xl:w-1/2 h-[700px]"
      ></iframe>
      
      <iframe 
          src="https://www.youtube.com/embed/JhfeY0h7D9M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="w-full xl:w-1/2 h-[700px]"
      ></iframe>
  </div>
</section>