<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Motion clinic</title>
    <meta
      name='description'
      content='El Primer Centro Integral en Cirugía Robótica de Cadera y Rodilla de Argentina. Liderado por el Dr. Andrés Anania'
    />
    <link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='manifest' href='/site.webmanifest' />
  </head>
  <body>
    <slot />
  </body>
</html>
